<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senld.gzlt.flowBuy.mapper.ErrorLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.senld.gzlt.flowBuy.entity.ErrorLog">
		<result column="ID" property="id" />
				<result column="NAME" property="name" />
				<result column="TYPE" property="type" />
				<result column="URL" property="url" />
				<result column="PARAM" property="param" />
				<result column="CODE" property="code" />
				<result column="MESSAGE" property="message" />
				<result column="ERROR_CODE" property="errorCode" />
				<result column="CREATE_TIME" property="createTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
			ID
              ,NAME
              ,TYPE
              ,URL
              ,PARAM
              ,CODE
              ,MESSAGE
              ,ERROR_CODE
              ,CREATE_TIME
    </sql>


    <select id="queryList" resultMap="BaseResultMap">
     SELECT 
     <include refid="Base_Column_List"></include>
     FROM  ERROR_LOG
     <where>
        <if test="id !=null and id>0 ">
            ID = #{id}
        </if>
     </where>
    </select>
</mapper>