package ${package.Mapper};

import ${package.Entity}.${entity};
import java.util.List;
import java.util.Map;
import com.baomidou.mybatisplus.mapper.BaseMapper;
import com.baomidou.mybatisplus.plugins.pagination.Pagination;

/**
 * 
 * ${cfg.entityName}${entity} dao 数据库操作接口
 * 
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.mapperName} extends BaseMapper<${entity}> {
	/**
	 * 带分页查询${cfg.entityName}${entity}列表
	 * 
	 * @param page
	 *            分页参数
	 * @param param
	 *            ${table.entityPath}参数
	 * @return List<${entity}>
	 */
	List<${entity}> queryList(Pagination page, Map<String, Object> param);

	/**
	 * 不带分页查询${cfg.entityName}${entity}列表
	 * 
	 * @param param
	 *            ${entity}参数
	 * @return List<${entity}>
	 */
	List<${entity}> queryList(Map<String, Object> param);
	
	/**
	 * 不带分页查询${cfg.entityName}${entity}列表
	 * 
	 * @param ${table.entityPath}
	 *            ${entity}参数
	 * @return List<${entity}>
	 */
	List<${entity}> queryList(${entity} ${table.entityPath});
}